<html>
  <head>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <link rel="stylesheet" type = "text/css"  href = "still.css" />
    <title>SM</title>
  </head>

  <body>

    <div class="navbar"><a>Parking sensor - SM project </a></div>

    <article>
      <table style='font-size:20px'>
        <tr>
          <td>
            <p>Distance:  </p>
          </td>
          <td>
            <p id='Distance'>50</p>
          </td>
        </tr>
      </table>
    </article>
  </body>

  <script>
   $(document).ready(function(){
     setInterval(refreshFunction,100);
   });

   function refreshFunction(){
     $.getJSON('/refresh', function(result){
       $('#Distance').html(result);
       if(result < 25){
        
        if(result < 15){
          document.getElementById("Distance").style.color = "yellow";
         }
        
         if( result < 10)
         document.getElementById("Distance").style.color = "red";
       }
       else{
        document.getElementById("Distance").style.color = "green";
       }
     });
   }
  </script>
</html>
